* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg2.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mainbar {
    width: 100%;
    height: 50px;
    background-color: #000000;
    margin-top: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.navigation {
    background-color: black;
    line-height: 50px;
}

.links {
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    padding: 15px;
    background-color: none;
    line-height: 20px;
    font-size: 20px;
}

.navigation a {
    padding: 15px;
    border-radius: 10px;
}

.links:hover {
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    transition-duration: .6s;
}


.iconic {
   
    width: 200px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 50px;
    border: 3px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);

    color: #ffffff;
    font-size: 200px;
}

.lbl {

    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.lb2 {

    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.textdiv {
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -180px;
    margin-right: 50px;
}

.profileitems {
    width: 590px;
    align-items: center;
}

.passwordcls {
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    font-size: 30px;
    width: 310px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border-radius: 10px;
    margin-top: -120px;
    margin-left: 5px;
}

.aclass {
    font-size: 10px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    transition: background-color 0.3s ease;
    

}
.frama {
    float: right;
    height: 450px;
    width: 600px;
    margin-right: -1100px;
    margin-top: -250;
    border-radius: 20px;
    

}
.fram{
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 20px;
    height: 70px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;

}